/* Coolors Exported Palette - https://coolors.co/c7f2a7-d5bbb1-247ba0-ff1654-bf1a2f-a42cd6-33202a-080f0f */

/* CSS HEX */
--granny-smith-apple: #c7f2a7ff;
--silver-pink: #d5bbb1ff;
--celadon-blue: #247ba0ff;
--radical-red: #ff1654ff;
--red-ncs: #bf1a2fff;
--dark-orchid: #a42cd6ff;
--dark-purple: #33202aff;
--rich-black-fogra-39: #080f0fff;

/* CSS HSL */
--granny-smith-apple: hsla(94, 74%, 80%, 1);
--silver-pink: hsla(17, 30%, 76%, 1);
--celadon-blue: hsla(198, 63%, 38%, 1);
--radical-red: hsla(344, 100%, 54%, 1);
--red-ncs: hsla(352, 76%, 43%, 1);
--dark-orchid: hsla(282, 67%, 51%, 1);
--dark-purple: hsla(328, 23%, 16%, 1);
--rich-black-fogra-39: hsla(180, 30%, 5%, 1);

/* SCSS HEX */
$granny-smith-apple: #c7f2a7ff;
$silver-pink: #d5bbb1ff;
$celadon-blue: #247ba0ff;
$radical-red: #ff1654ff;
$red-ncs: #bf1a2fff;
$dark-orchid: #a42cd6ff;
$dark-purple: #33202aff;
$rich-black-fogra-39: #080f0fff;

/* SCSS HSL */
$granny-smith-apple: hsla(94, 74%, 80%, 1);
$silver-pink: hsla(17, 30%, 76%, 1);
$celadon-blue: hsla(198, 63%, 38%, 1);
$radical-red: hsla(344, 100%, 54%, 1);
$red-ncs: hsla(352, 76%, 43%, 1);
$dark-orchid: hsla(282, 67%, 51%, 1);
$dark-purple: hsla(328, 23%, 16%, 1);
$rich-black-fogra-39: hsla(180, 30%, 5%, 1);

/* SCSS RGB */
$granny-smith-apple: rgba(199, 242, 167, 1);
$silver-pink: rgba(213, 187, 177, 1);
$celadon-blue: rgba(36, 123, 160, 1);
$radical-red: rgba(255, 22, 84, 1);
$red-ncs: rgba(191, 26, 47, 1);
$dark-orchid: rgba(164, 44, 214, 1);
$dark-purple: rgba(51, 32, 42, 1);
$rich-black-fogra-39: rgba(8, 15, 15, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-right: linear-gradient(90deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-bottom: linear-gradient(180deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-left: linear-gradient(270deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-top-right: linear-gradient(45deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-bottom-right: linear-gradient(135deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-top-left: linear-gradient(225deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-bottom-left: linear-gradient(315deg, #c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);
$gradient-radial: radial-gradient(#c7f2a7ff, #d5bbb1ff, #247ba0ff, #ff1654ff, #bf1a2fff, #a42cd6ff, #33202aff, #080f0fff);